<div class='row'>

  <div class='col-md-8 col-md-offset-2'>

  <h4>Records To Date:</h4>

  <% @creatures.each do |c| %>

  <div class="well">
    <h4><%= c.name %></h4>
    <p>Description: <%= c.description %></p>

    <%= link_to "", edit_creature_path(c), class: 'btn btn-xs btn-primary glyphicon glyphicon-pencil pull-right' %>
    <%= link_to "", c, method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash pull-right' %>

    <p> Tags: <% c.tags.each do |tag| %> <%= link_to tag.name, tag %><% end %></p>
    <%= link_to "Full Record", c %>
  </div>

<% end %>

  </div>

</div>


