<div class='row'>

  <div class='col-md-8 col-md-offset-2'>

  <h4>Records To Date:</h4>

  <% @creatures.each do |c| %>

  <div class="well">
    <p><%= c.name %></p>
    <p><%= c.description %></p>

    <%= link_to "Record", c  %>
    <%= link_to "", edit_creature_path(c), class: 'btn glyphicon glyphicon-pencil pull-right' %>
    <%= link_to "", c, method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash pull-right' %>

  </div>

<% end %>

  </div>

</div>


