<!DOCTYPE html>
<html>
<head>
  <title>The Peat Project</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
  <%= link_to "Home",root_path %> |
  <%= link_to "Project Records",creatures_path %> |
  <%= link_to "Record Findings",new_creature_path %> |
  <%= link_to "Add Tag",new_tag_path %> |
  <%= link_to "Tags",tags_path %>

  <h1> The Peat Project </h1>
  <p>The Peat Project is a community effort to explore our nearby peat bogs and make a record
  of the organisms living there. Started by local field biologists in 2012, the Peat Project
  hopes to use the eyes of the community to get a better understanding of this complex ecosystem.
  Thank you for your support!</p>

  </div>
</div>
<%= yield %>

</body>
</html>